.Rproj.user
.Rhistory
.RData
.Ruserdata
public/
gh-pages
gh-pages.pub
homework_solutions/
*_files/
*_cache/
_site/
_freeze/

docs/tests/*_cache/
docs/regression-models/*_cache/
docs/mixed-models/*_cache/
docs/mixture-models/*_cache/
docs/multivariate-models/*_cache/

docs/tests/*_files/
docs/regression-models/*_files/
docs/mixed-models/*_files/
docs/mixture-models/*_files/
docs/multivariate-models/*_files/

/.quarto/
